# 51: Seleksi baris dengan between()

2273001 - Olivia Justine Audia

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.4.4
1.21.5

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  8  5  9  3
1  3  3  1  3  8
2  4  7  9  7  9
3  3  2  9  3  1
4  1  2  3  7  1
5  2  8  3  8  5
6  7  1  5  7  1
7  9  4  4  4  2
8  3  1  6  6  5
9  5  8  1  3  2

Seleksi baris dengan between()

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
1  3  3  1  3  8
2  4  7  9  7  9
3  3  2  9  3  1
5  2  8  3  8  5
8  3  1  6  6  5
9  5  8  1  3  2

In [4]:
df[df['A'].between(2, 5, inclusive=False)]

C:\Users\ACER\AppData\Local\Temp\ipykernel_16016\2550752053.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
1  3  3  1  3  8
2  4  7  9  7  9
3  3  2  9  3  1
8  3  1  6  6  5